body {
  background-color: #363636 !important;
  color: #fff !important;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ADD TASK STYLES */

.addContainer {
  padding: 20px;
}

.addContainer input,
.addContainer button,
.addContainer select {
  margin: 10px;
  padding: 10px;
}

/* ADD BUTTON */
.addBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px !important;
  outline: none;
}

/* ACTUAL ADDED TASK STYLES */

.tasksContainer {
  background-color: #262626;
  border: 1px solid #454545;
  padding: 10px;
}

.taskItem {
  display: grid;
  border: 1px solid #454545;
  grid-template-columns: 2.5% 85% 2.5%;
  grid-template-areas: "check task edit";
  column-gap: 3.333%;
  min-width: 700px;
  padding: 10px;
  margin: 10px;
}

/* EDIT AND DELET BUTTONS OF THE ADDED TASKS */

.editBtn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.editBtn:focus {
  outline: none;
}
